<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2016-2018 Projekt Substratum
  ~ This file is part of Substratum.
  ~
  ~ SPDX-License-Identifier: GPL-3.0-Or-Later
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="projekt.substratum"
    android:installLocation="internalOnly">

    <!-- Loading the showcase and theme wallpapers -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Float UI use -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW"
        tools:ignore="ProtectedPermissions" />
    <!-- Samsung use to kill other apps after compilation has completed -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!-- Samsung use to request packages to be installed -->
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <!-- To be able to see what the compilation created -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- To execute rescue archive checks when booting and clearing installation cache -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Set wallpapers -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <!-- Allow the app to vibrate the device to notify the user that compilation has finished -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Access the phone storage for installation of APKs in .substratum folder -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Keep the phone awake while compiling -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- App shortcut creation permission -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- Uninstall apps on Android P -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <!-- Start foreground services on Android P -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Interfacer use only -->
    <uses-permission android:name="android.permission.MODIFY_OVERLAYS" />
    <uses-permission android:name="projekt.interfacer.permission.ACCESS_SERVICE" />

    <application
        android:name=".Substratum"
        android:allowBackup="false"
        android:icon="@mipmap/main_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:manageSpaceActivity=".activities.launch.ManageSpaceActivity"
        android:roundIcon="@mipmap/main_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,ManifestResource"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <receiver android:name=".services.system.BootCompletedDetector">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".services.notification.UnsupportedThemeReceiver" />
        <receiver android:name=".services.notification.FloatUiButtonReceiver" />
        <receiver android:name=".services.packages.ThemeUninstallDetector">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".services.profiles.ScheduledProfileReceiver" />
        <receiver android:name=".services.packages.SubstratumUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service android:name=".services.binder.AndromedaBinderService" />
        <service android:name=".services.binder.InterfacerBinderService" />
        <service
            android:name=".services.floatui.SubstratumFloatInterface"
            android:exported="false" />
        <service
            android:name=".services.tiles.SubstratumTile"
            android:enabled="true"
            android:icon="@drawable/ic_substratum"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.tiles.FloatUiTile"
            android:enabled="false"
            android:icon="@drawable/floatui_tile"
            android:label="@string/shortcut_floatui"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>
        <service
            android:name=".services.profiles.ScheduledProfileService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".activities.crash.SystemCrash"
            android:theme="@style/DoNotThemeThisStyleDialog" />
        <activity
            android:name=".activities.crash.SubstratumCrash"
            android:process=":error_activity"
            android:theme="@style/DoNotThemeThisStyleInitial" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/PhotoCrop.ActivityTheme" />
        <activity android:name=".activities.launch.AppIntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.floatui.FloatUILaunchActivity"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.shortcuts.RescueActivity"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.launch.ThemeLaunchActivity"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activities.shortcuts.AppShortcutLaunch"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.launch.SplashScreenActivity"
            android:theme="@style/SplashScreen.ActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InformationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.InformationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".util.views.AppIntro"
            android:theme="@style/CustomWelcomeScreenTheme" />
        <activity
            android:name=".activities.profiles.ProfileErrorInfoActivity"
            android:excludeFromRecents="true"
            android:label="@string/restore_dialog_title"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".activities.launch.ManageSpaceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_manage_space"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.shortcuts.OverlayManagerActivity"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.launch.ShowcaseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>